<h2>Custom Class & Style Directive </h2>
<div [appClass]="{'app-container':true, appHighlight:true, appFont:5>2}">
  <a>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, omnis repudiandae magnam consequuntur fugit,
    ea temporibus esse ad eveniet nihil cupiditate minus dolorem necessitatibus molestiae magni reiciendis? Blanditiis, 
    velit labore?
  </a>
</div>

<div class="app-container" appStyle [style]="{backgroundColor:active?'green': 'red', color:active?'black':'white'}">
  <a>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, omnis repudiandae magnam consequuntur fugit,
    ea temporibus esse ad eveniet nihil cupiditate minus dolorem necessitatibus molestiae magni reiciendis? Blanditiis, 
    velit labore?
  </a>
</div>