<footer class="bg-gray-800 text-white py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <!-- Footer Grid -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Contact Info -->
        <div class="col-span-1 md:col-span-2">
          <h3 class="text-xl font-bold mb-4">Contact Us</h3>
          <p>ExtremeLearn</p>
          <p>Hyderabad Hitech city 500081</p>
        </div>
  
        <!-- Social Media Links -->
        <div class="col-span-1 space-y-4">
          <h3 class="text-xl font-bold mb-4">Follow Us</h3>
          <div class="flex space-x-4">
            <a href="#" class="text-white hover:text-gray-300">
              <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.09 2H2.91C1.96 2 1.21 2.75 1.21 3.7V20.3c0 .95.75 1.7 1.7 1.7h18.18c.95 0 1.7-.75 1.7-1.7V3.7c0-.95-.75-1.7-1.7-1.7zM12 13.85c-1.56 0-2.82-1.27-2.82-2.82 0-1.56 1.27-2.82 2.82-2.82 1.56 0 2.82 1.27 2.82 2.82 0 1.56-1.26 2.82-2.82 2.82zm5.76-9.18H5.24v10.34h3.13V11.5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v3.67h3.13v-4.8c0-2.17-1.76-3.93-3.93-3.93z"/>
              </svg>
            </a>
            <a href="#" class="text-white hover:text-gray-300">
              <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1.5 14.48h-1c-.28 0-.5-.22-.5-.5v-7c0-.28.22-.5.5-.5h1c.28 0 .5.22.5.5v7c0 .28-.22.5-.5.5zm3.5-1.14c0 .43-.37.78-.8.78h-2.34c-.43 0-.8-.35-.8-.78v-3.23h-1.07v3.4c0 1.48 1.18 2.68 2.68 2.68h2.34c1.48 0 2.68-1.2 2.68-2.68v-3.4h-1.07v3.23z"/>
              </svg>
            </a>
            <a href="#" class="text-white hover:text-gray-300">
              <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm4.56 7.56l-1.31 4.13c-.08.26-.31.44-.59.44H9.34c-.28 0-.51-.18-.59-.44L7.44 9.8c-.11-.35.04-.73.34-.92l4.18-2.65c.18-.11.4-.11.58 0l4.18 2.65c.3.19.45.57.34.92zm-7.43 6.76l-2.06-2.63 2.88-3.61c.16-.19.41-.3.67-.3s.51.11.67.3l2.88 3.61-2.06 2.63c-.16.2-.41.31-.67.31s-.51-.11-.67-.31zm2.07 2.67l1.31-1.68 1.31 1.68 2.08-.74-1.29-1.66 1.29-1.66-2.08-.74-1.31 1.68-1.31-1.68-2.08.74 1.29 1.66-1.29 1.66 2.08.74z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
  
      <!-- Additional Links -->
      <div class="mt-8 border-t border-gray-700 pt-6 flex justify-between">
        <div>
          <a href="#" class="text-sm text-white hover:text-gray-300">Terms of Service</a>
          <span class="mx-2">•</span>
          <a href="#" class="text-sm text-white hover:text-gray-300">Privacy Policy</a>
        </div>
        <div>
          <span class="text-sm">© 2024 ExtremeLearn. All rights reserved.</span>
        </div>
      </div>
    </div>
  </footer>
  